extends layout

block content
  .navbar(data-ng-controller='NavCtrl')
    .navbar-inner
      .container-fluid
        ul.nav.nav-tabs
          li(data-access-level='accessLevels.anon', active-nav)
            a(ui-sref="anon.login") Login
          li(data-access-level='accessLevels.anon', active-nav)
            a(ui-sref="anon.register") Register

          li(data-access-level='accessLevels.user', active-nav)
            a(ui-sref="user.home") Home

          li(data-access-level='accessLevels.user', active-nav)
            a(ui-sref="user.book") Book

          li(data-access-level='accessLevels.user', active-nav)
            a(ui-sref="user.note") Note

          li(data-access-level='accessLevels.user' active-nav)
            a(ui-sref="user.chat") Chat

          li(data-access-level='accessLevels.user' active-nav)
            a(ui-sref="user.faq") FAQ

          li(data-access-level='accessLevels.user')
            p= username
          li(data-access-level='accessLevels.user')
            a(data-ng-click="logout()") Logout

  div(ui-view)
