extends layout

block content
  .well
    h3 Your teacher team
    #user-team
      each teacher in team
        p= teacher.name

  .well
    h3 New Teachers
    each teacher in teachers
      div
        p #{teacher.name}
          button.addToTeam(data-user-id="#{user._id}" data-teacher-id="#{teacher._id}") Add
