extends layout

block content
  .navbar(data-ng-controller='NavCtrl')
    .navbar-inner
      .container-fluid
        ul.nav.nav-tabs
          if (username)
            li(data-access-level='accessLevels.anon')
              a(ui-sref="user.home") Home
          li(data-access-level='accessLevels.anon')
            a(ui-sref="anon.login") Login
          li(data-access-level='accessLevels.anon')
            a(ui-sref="anon.register") Register

          li(data-access-level='accessLevels.user')
            p= username
          li(data-access-level='accessLevels.user')
            a(data-ng-click="logout()") Logout

  div(ui-view)
