doctype html
html
  head
    title= title
    script(src='/lib/jquery.js')
    script(src='/js/main.js')
    link(rel='stylesheet', href='/css/style.css')
  body
    include ./partials/header
    include ./partials/side-a
    .content
      block content
