doctype html
html
  head
    title= title
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/main.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    include ./partials/header
    include ./partials/side-a
    .content
      block content
