extends layout

block content
  h1 Login

  form(role="form" method="post" action="/auth/login")
    .form-group
      label(for='username') Username
      input#username.form-control(name='username' type='text' placeholder='username' required)

    .form-group
      label(for='password') Password
      input#password.form-control(name='password' type='password' placeholder='password')

    button.btn.btn-default(type="submit") Submit
