h1 Register

form(role="form" method="post" action="/auth/register")
  .form-group
    label(for='username') Username
    input#username.form-control(name='username' type='text' placeholder='username' required)

  .form-group
    label(for='password') Password
    input#password.form-control(name='password' type='password' placeholder='password')

  .form-group
    label(for='password2') Repeat Password
    input#password2.form-control(name='password2' type='password' placeholder='repeat password')

  button.btn.btn-default(type="submit") Submit
